<%- partial('_partial/head') %>
<body>
  <div id="container" q-class="show:isCtnShow">      
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    
    <%# "GitHub Fork" %>
    <% if (theme.github_fork.enable && theme.github_fork.type == "ribbon") { %>
      <% var position = theme.github_fork.position; %>
      <% if (position == "left-top" || position == "left-bottom" || position == "right-top" || position == "right-bottom") { %>
        <a class="github-fork-ribbon <%-position%>" href="<%-theme.github_fork.repo%>" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
      <% } else { %> 
        <a class="github-fork-ribbon" href="<%-theme.github_fork.repo%>" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
      <% } %>
    <% } else if (theme.github_fork.enable && theme.github_fork.type == "corner") { %>
      <%- partial('_partial/github-corner') %>
    <% } %>
    
    <div class="left-col" q-class="show:isShow">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap">
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1" class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
          </div>
        </div>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/viewer') %>
  </div>
  
  <%# "页面点击小红心" %>
  <% if (theme.clickLove && theme.clickLove.enable){ %>
    <script type="text/javascript" src="/js/clickLove.js"></script>
  <% } %>
  
  <%# "进度条显示" %>
  <% if (theme.progressBar.enable) { %>
    <script src="/js/pace.min.js"></script>
    <link href="//cdn.bootcss.com/pace/1.0.2/themes/<%= theme.progressBar.color || 'blue'%>/pace-theme-<%= theme.progressBar.type || 'minimal'%>.css" rel="stylesheet">
  <% } %>

  <%# "鼠标悬停显示图片" %>
  <%- partial('_partial/hover-effect', { global: theme.hover_effect.global }) %>
</body>
</html>